.gateway-Container{
    height: 100vh;
}
.Gateway-div{
    border-style: solid;
    border-width: 2px;
    width: 100%;
    margin-top: 15px;
    border-color:gray;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.Gateway-heading{
    font-family: 'Roboto';
    font-size: 25px;
    margin-left: 10px;
    color: black;
}
.debit-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.gateway-input-label {
    margin-bottom: 0px;
    font-family:'Roboto';
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    color: black;
    margin-top: 10px;
  }
  .gateway-icon{
    width: 35px;
    margin-left: 15px;
    margin-right: 10px;
  }
  .Gateway-input-field{
    padding: 15px;
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
  }