.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 50px;
    width: 90%;
    max-width: 1110px;
  }
  
  @media screen and (min-width: 768px) {
    .home-container {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 96px;
    }
  }
  
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media screen and (min-width: 768px) {
    .home-content {
      align-items: flex-start;
    }
  }
  
  .home-mobile-img {
    width: 206px;
  }
  
  @media screen and (min-width: 768px) {
    .home-mobile-img {
      display: none;
    }
  }
  
  .home-desktop-img {
    width: 50%;
    max-width: 450px;
    margin-left: 85px;
  }
  
  @media screen and (max-width: 767px) {
    .home-desktop-img {
      display: none;
    }
  }
  
  .home-heading {
    color: #1e293b;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    .home-heading {
      font-size: 46px;
      text-align: left;
    }
  }
  
  .home-description {
    font-family: 'Roboto';
    margin-top: 36px;
    font-size: 14px;
    line-height: 28px;
    color: #64748b;
    margin-bottom: 0px;
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    .home-description {
      font-size: 18px;
      margin-top: 0px;
      text-align: left;
    }
  }
  
  .shop-now-button {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #ffffff;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 6px;
    background-color: orange;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
  }
  .shop-now-button:hover{
    background-color: white;
    color: orange;
    border-width: 2px;
    border-style: solid;
    border-color: orange;
    transition: 0.5s;
  }
  @media screen and (min-width: 768px) {
    .shop-now-button {
      width: 150px;
      font-size: 16px;
    }
  }
  .New-home-container{
    /* font-family: Arial; */
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-banner {
    margin-top: 85px;
    background-image: url("https://i.postimg.cc/RZ97HFwr/full-shot-woman-online-fashion-shopping-1.jpg");
    height: 100vh;
    z-index: -1;
    background-size: cover;
    width: 85%;
  }
  @media screen and (max-width: 450px){
    .hero-banner{
      width: 90%;
      height: 70vh;
    }
  }
  .content {
    background-color: #eaeaea;
    font-size: 40px;
    padding: 120px 80px;
    height: 100vh;
  }
  .Our-categories{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }

  .Our-categories-heading{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 10px;
  }
  .categorie-images{
    width: 300px;
    height: 200px;
  }

  .categories-inside-heading{
    text-align: center;
  }
  .category-card{
    background-color: #ffffff;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .category-card::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .category-card:hover {
    -webkit-transform: scale(1, 1);
    transform: scale(1.03, 1.03);
    overflow-y: hidden;
  }
  
  .category-card:hover::after {
      opacity: 1;
  }
  .category-card-matter{
    padding-top: 1px;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .category-inside-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Shop-Now-Button {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: orange;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .Shop-Now-Button:hover{
    background-color: white;
    color: orange;
    border-width: 2px;
    border-style: solid;
    border-color: orange;
    transition: 0.5s;
  }
  .our-category-first-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
  }
  .second-div-margin{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .home-carousel{
  align-items: fle;
  display: flex;
  height: 90vh;
  justify-content: flex-start;
  overflow-x: hidden;
  width: 100%;
}
@media screen and (max-width: 1150px){
  .our-category-first-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .category-card{
    margin-bottom: 50px;
  }
  .second-div-margin{
    margin-top: 0px;
  }
}