.Footer-container{
    width: 100%;
    background-color: #1A1110;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 250px;
}
.footer-icons{
    width: 28px;
}
.Footer-links-dev{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.Footer-heading{
    color: white;
    padding-top: 5px;
    font-family:'Roboto';
}
.Footer-first-heading{
    color: white;
    padding-top: 5px;
    font-family: 'Roboto';
}
.Footer-first-heading:hover{
    color: #0967d2;
    cursor: pointer;
}
.cc-footer{
    color: white;
}
.footer-anchor-dec{
    background-color: white;
    width: 35px;
    border-radius: 35px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}
.Icons-div{
    display: flex;
    justify-content: space-between;
    width: 65%;
}